*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.img-responsive{
  width:8vw;
  height:8vh;
  border-radius:2rem;
  margin-right: 2rem;
  margin-left: 6rem;
}
.container{
  width: 21rem;
}

